---
layout: default
---

<article class="post">

{% comment %}
  {% if page.categories %}
      {% for category in page.categories %}
          <button href="#">{{ category }}</button> 
      {% endfor %}
  {% endif %}
{% endcomment %}

  <h1>{{page.rendite}} für {{page.laufzeit}} - {{ page.title }}</h1>

  {% if post.rendite %}
    <button>Zinssatz: {{post.rendite}}</button>
  {% elsif page.rendite %}
    <button>Zinssatz: {{page.rendite}}</button>
  {% endif %}

  {% if post.laufzeit %}
      <button>Laufzeit: {{post.laufzeit}}</button>
  {% elsif page.laufzeit %}
    <button>Laufzeit: {{page.laufzeit}}</button>
  {% endif %}

  
  {% if post.zinsfaelligkeit %}
    <button>Zinsfälligkeit: {{post.zinsfaelligkeit}}</button>
  {% elsif page.zinsfaelligkeit %}
    <button>Zinsfälligkeit: {{page.zinsfaelligkeit}}</button>
  {% endif %}

  <div class="date" style="text-align: right;">
    {{ page.date | date: "%d.%m.%y" }}
  </div>
  
  <div class="entry">
    {{ content }}
  </div>
	<div class="kleintext">
    <p>Alle Angaben ohne Gewähr - Irrtümer vorbehalten.</p>
		<p>Bitte beachten Sie den Hinweis entsprechend § 12 Abs. 2 Vermögensanlagengesetz: Der Erwerb dieser Vermögensanlagen ist mit erheblichen Risiken verbunden und kann zum vollständigen Verlust des eingesetzten Vermögens führen.</p>

		<p>Der Betreiber der Website SchwarmAnleger.de ist nicht Anbieter dieser Vermögensanlagen. Die Anbieter der Vermögensanlagen nutzen die Möglichkeit, diese über die hier verlinkten Plattformen zu vertreiben. Einige der externen Links sind sogenannte Affiliate-Links.</p>

		<p>Die Inhalte dieser Seite dienen ausschließlich der Information und stellen nicht eine Anlageberatung oder sonstige Empfehlung im Sinne des Wertpapierhandelsgesetzes dar. Die auf dieser Seite bereit gestellten Informationen sollen nicht als Aufforderung verstanden werden, ein Geschäft oder eine Transaktion einzugehen.</p>
		
		<p>Unseren vollständigen Disclaimer finden sie <a href="/disclaimer/">hier</a>.
		</p>
	</div>


  <div class="PageNavigation">
    {% if page.previous.url %}
      <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
    {% endif %}
    {% if page.next.url %}
      <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
    {% endif %}
  </div>

  {% include disqus.html %}
</article>
